<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>유저 추가</title>
</head>

<body>
	<table border="1">
		<tr>
			<th>이름<input type="text" id="uiName" name="uiNum"></th>
			<th>아이디<input type="text" id="uiId" name="uiId"></th>
			<th>패스워드<input type="password" id="uiPwd" name="uipwd"></th>
		</tr>
	</table>
	<button onclick="insertUser()">등록</button>

	<script>
		async function insertUser() {
			if (confirm('회원가입을 하시겠습니까?')) {
				const data = {
					uiName: uiName.value,
					uiId: uiId.value,
					uiPwd: uiPwd.value
				}
				const response = await fetch('/insertUser', {
					method: 'POST',
					body: JSON.stringify(data),
					headers: {
						'Content-Type': 'application/json;charset=UTF-8'
					}
				});
				
				if(response.ok){
					alert("가입 완료");
					location.href="/html/user/userList";
				}else{
					alert("가입 실패 오류 발생");
				}
			}
		}
	</script>
</body>

</html>